<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550083797782-0ks6s1do0g2mllm4oe6fo5cjsbgq2tef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550083797782-0ks6s1do0g2mllm4oe6fo5cjsbgq2tef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>550083797782-io8lti0ge69m0ah6ehmgqt9d3k1pnr11.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtzO9MfLp3I4u7PxDEmhg_gloKL9CBS3c</string>
	<key>GCM_SENDER_ID</key>
	<string>550083797782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.smartpark</string>
	<key>PROJECT_ID</key>
	<string>smartpark-4ie4q1</string>
	<key>STORAGE_BUCKET</key>
	<string>smartpark-4ie4q1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550083797782:ios:5f5bb09d9e2f20c643e637</string>
</dict>
</plist>